<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymy.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="com.ymy.model.Address">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="zip_code" jdbcType="INTEGER" property="zipCode"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ymy.model.Address">
    insert into address (`id`, `user_id`, `name`, 
      `phone`, `location`, `address`, 
      `zip_code`)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{zipCode,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.ymy.model.Address">
    update address
    set `user_id` = #{userId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `phone` = #{phone,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR},
      `address` = #{address,jdbcType=VARCHAR},
      `zip_code` = #{zipCode,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select `id`, `user_id`, `name`, `phone`, `location`, `address`, `zip_code`
    from address
    where `id` = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select `id`, `user_id`, `name`, `phone`, `location`, `address`, `zip_code`
    from address
  </select>
</mapper>