<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymy.mapper.ShopMapper">
    <resultMap id="BaseResultMap" type="com.ymy.model.Shop">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
        <result column="latitude" jdbcType="DECIMAL" property="latitude"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="send_price" jdbcType="DECIMAL" property="sendPrice"/>
        <result column="send_range" jdbcType="INTEGER" property="sendRange"/>
        <result column="express_fee" jdbcType="DECIMAL" property="expressFee"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from shop
        where `id` = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ymy.model.Shop">
        insert into shop (`id`, `admin_id`, `name`,
        `phone`, `address`, `longitude`,
        `latitude`, `create_time`, `status`,
        `send_price`, `send_range`, `express_fee`
        )
        values (#{id,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=DECIMAL},
        #{latitude,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},
        #{sendPrice,jdbcType=DECIMAL}, #{sendRange,jdbcType=INTEGER}, #{expressFee,jdbcType=DECIMAL}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.ymy.model.Shop">
        update shop
        set `admin_id` = #{adminId,jdbcType=INTEGER},
        `name` = #{name,jdbcType=VARCHAR},
        `phone` = #{phone,jdbcType=VARCHAR},
        `address` = #{address,jdbcType=VARCHAR},
        `longitude` = #{longitude,jdbcType=DECIMAL},
        `latitude` = #{latitude,jdbcType=DECIMAL},
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
        `status` = #{status,jdbcType=TINYINT},
        `send_price` = #{sendPrice,jdbcType=DECIMAL},
        `send_range` = #{sendRange,jdbcType=INTEGER},
        `express_fee` = #{expressFee,jdbcType=DECIMAL}
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select `id`, `admin_id`, `name`, `phone`, `address`, `longitude`, `latitude`, `create_time`,
        `status`, `send_price`, `send_range`, `express_fee`
        from shop
        where `id` = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select `id`, `admin_id`, `name`, `phone`, `address`, `longitude`, `latitude`, `create_time`,
        `status`, `send_price`, `send_range`, `express_fee`
        from shop
    </select>
</mapper>